@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;

  .nav-tabs {
    margin-top: 15px;
  }

  .tab-content {
    margin-top: 25px;

    .tab-pane{

    }

    .list-group-item {
      margin: 10px 0;

      display: flex;
      flex-direction: row;
      justify-content: space-between;


      .update-button-container {

        margin-left: 25px;

        .update-button {
          margin: 0;
        }
      }

    }

  }

}