.calendar {
	.rbc-month-view {
		height: calc(100% - 50px);
	}

	.request-period-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 20px 0 30px 0;

    .btn {
      background-color: #4c86cd;
      border: #4c86cd;
    }

  }

  .request-markers {

    .your-vacations {
      background: #009432;
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    .other-vacations {
      background: #114b5f;
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    .ineligble-periods {
      background: #e84118;
      width: 15px;
      height: 15px;
      display: inline-block;
    }

  }



}
