.my-vacations{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .vacation-days{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 30px 0;

    .btn {
      background-color: #4c86cd;
      border: #4c86cd;
    }
  }

  .collection-list-div{
    display: flex;
    align-self: center;
    flex-direction: column;


    width: 50%;
  }

}