.vacation-data-handler{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .get-data-button{
    margin: 15px 27%;
  }

  form{

    .send-data-button{
      margin-top: 15px;
    }

  }

}