.notification-list {
	width: 100%;
	max-width: 350px;
	height: 100%;
	min-height: 120px;
	min-width: 300px;
}
.notification-text {
	width: calc(300px - 55px);
	height: 35px;
	margin: 0;
	white-space: pre-wrap;
}
.notification-image {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.notification-list-item {
	margin-bottom: 4em;
	//flex-direction: row;
	align-items: center;
	//height: 45px;
	//padding: 5px 0;
	//clear: both;
}
