.user-profile{

  margin-top: 10%;

  .user-profile-container{

    display: flex;
    flex-direction: row;
    justify-content: center;


    .profile-info{

      display: flex;
      flex-direction: column;

      img{
        width: 230px;
      }

    }

    .profile-links{

      display: flex;
      flex-direction: column;

    }

  }

}