.view-request-wrapper {

  h1 {
    color: #114b5f;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;


    .view-request {
      display: flex;
      flex-direction: column;
      width: 50%;
      align-self: center;

      .request-form-container {

        .submit-changes-button {
          background-color: #4c86cd;
          border: #4c86cd;
        }



      }

      .comments {
        margin-top: 25px;

        h4 {
          color: #114b5f;
        }

        .single-comment{
          display: flex;
          flex-direction: column;
          width: 100%;

          .comment-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 20px;
          }


        }

      }

    }


    .status-buttons {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

  }

}