.comments {
  .single-comment {

    .comment-buttons {

      .edit-comment-button {
        background-color: #4c86cd;
        border: #4c86cd;
      }

    }

  }

  .new-comment-button {
    background-color: #4c86cd;
    border: #4c86cd;
  }
}

